<div class="form_bg">
  <div class="form_container">
    <h1>Create A New Mic</h1>
        <%= form_for @open_mic do |f| %>
    <div>
        <p class="label"><%= f.label :name %></p>
        <p class="input"><%= f.text_field :name %></p>
    </div>
    <div>
        <p class="label"><%= f.label :genre %></p>
        <p class="input"><%= f.text_field :genre %></p>
    </div>
    <div>
        <p class="label"><%= f.label :location %></p>
        <p class="input"><%= f.text_field :location %></p>
    </div>
    <div>
        <p class="label"><%= f.label :day %></p>
        <p class="input"><%= f.text_field :day %></p>
    </div>
    <div>
        <p class="label"><%= f.label :time %></p>
        <p class="input"><%= f.text_field :time %></p>
    </div>
    <div>
        <p class="label"><%= f.label :stage_time %></p>
        <p class="input"><%= f.text_field :stage_time %></p>
    </div>
    <div>
        <p class="label"><%= f.label :sign_up_protocol %></p>
        <p class="input"><%= f.text_field :sign_up_protocol %></p>
    </div>
    <div>
        <p class="label"><%= f.label :cover %></p>
        <p class="input"><%= f.number_field :cover %></p>
    </div>
    <div>
        <p class="label"><%= f.label :drink_or_food_minimum %></p>
        <p class="input"><%= f.text_field :drink_or_food_minimum %></p>
    </div>
    <div id="submit">
        <%= f.submit %>
    </div>
        <% end %>
  </div>
</div>
