
<%# need to add drop down menu so user can search by city %>
<div class="index_container">
  <% @open_mics.each do |mic| %>
  <div class="index_box">
  <%= link_to mic.name, open_mic_path(mic) %><br>
  Genre: <%= mic.genre %><br>
  Location: <%= mic.location %><br>
  Day: <%= mic.day %><br>
  Time: <%= mic.time %><br>
  </div>
  <% end %>
</div>
