
<h1><%= @open_mic.name %><br></h1>

<h2>Hosted by: <% @hosts.each do |host| %>
  <%= host %>
<% end %> <h2>
<% if @update != nil %>
<h3>This Week: <%= @update.body %></h3>
<% end %>
<p>Genre: <%= @open_mic.genre %></p>
<p>Location: <%= @open_mic.location %></p>
<p>Day: <%= @open_mic.day %></p>
<p>Start Time: <%= @open_mic.time %></p>
<p>Stage Time: <%= @open_mic.stage_time %></p>
<p>Sign Up Protocol: <%= @open_mic.sign_up_protocol %></p>
<p>Cover: <%= @open_mic.cover %></p>
<p>Drink or Food Minimum: <%= @open_mic.drink_or_food_minimum %></p>
<p>Instruments available for use: </p>
<% @open_mic.instruments.each do |inst| %>
<p>Name: <%= inst.name %>
<p>Description: <%= inst.description %>
<p>Status: <%= inst.status %>
<% end %>

<h3><%= link_to "Reach Out:", "/open_mics/#{@open_mic.id}/missed_connections/new" %></h3>
<h2>Missed Connections:</h2>
<% @missed_connections.each do |con| %>
<%= link_to con.title, open_mic_support_path(@open_mic, con) %>
<% end %>

<h3><%= link_to "Help Me Out This Week:", "/open_mics/#{@open_mic.id}/lend_a_hands/new" %></h3>
<h2>Lend A Hand</h2>
<% @lend_a_hands.each do |hand| %>
<%= link_to hand.title, open_mic_support_path(@open_mic, hand) %>
<% end %>
