<div class="bg">
<!-- prev color #C1D4AB, bg color #515D64-->
  <div class="title_box">
  <img src="https://themusicbureau.com/wp-content/uploads/2018/03/background-2011744_1920.jpg" alt="stage">
  <div class="title"><%= @open_mic.name %></div>
  </div>
  <% if @open_mic.host?(session[:user_id]) %>
  <div class="info_section">
    <p><%= link_to "Post A New Update", new_open_mic_update_path(@open_mic) %></p>
    <p><%= link_to "Edit This Mic", edit_open_mic_path(@open_mic) %></p>
  </div>
  <% end %>
  <% if @update != nil %>
  <div class="alert_box">
  <img src="https://findicons.com/files/icons/986/aeon/256/alert.png" alt="alert icon" id="left_alert">
  <span><%= @update.body %></span>
  <img src="https://findicons.com/files/icons/986/aeon/256/alert.png" alt="alert icon" id="right_alert">
  </div>
  <% end %>
<div class="supports">
  <div class="missed_connections">
  <p><%= link_to "Missed Connections:", "/open_mics/#{@open_mic.id}/missed_connections/new" %></p>
  <% @open_mic.supports.missed_connection.each do |con| %>
  <p><%= link_to con.title, open_mic_support_path(@open_mic, con) %></p>
  <% end %>
  <p>more posts</p>
  <p>more posts</p>
  <p>more posts</p>
  <p>more posts</p>
  <p>more posts</p>
  <p>more posts</p>
  <p>more posts</p>
  </div>
  <img src="https://c.stocksy.com/a/IBQ200/z9/577300.jpg" alt="microphone on stand">
  <div class="lend_a_hands">
  <p><%= link_to "Help Me Out This Week:", "/open_mics/#{@open_mic.id}/lend_a_hands/new" %></p>
  <% @open_mic.supports.lend_a_hand.each do |hand| %>
  <p><%= link_to hand.title, open_mic_support_path(@open_mic, hand) %></p>
  <% end %>
  <p>more posts</p>
  <p>more posts</p>
  <p>more posts</p>
  <p>more posts</p>
  <p>more posts</p>
  <p>more posts</p>
  <p>more posts</p>
  </div>
</div>
  <div class="info_section">
    <h2>Hosted by: <% @open_mic.host_names.each do |host| %>
      <%= host %>
    <% end %> </h2>

    <p>Genre: <%= @open_mic.genre %></p>
    <p>Location: <%= @open_mic.location %></p>
    <p>Day: <%= @open_mic.day %></p>
    <p>Start Time: <%= @open_mic.time %></p>
    <p>Stage Time: <%= @open_mic.stage_time %></p>
    <p>Sign Up Protocol: <%= @open_mic.sign_up_protocol %></p>
    <p>Cover: <%= @open_mic.cover %></p>
    <p>Drink or Food Minimum: <%= @open_mic.drink_or_food_minimum %></p>
    <% if @open_mic.host?(session[:user_id])  %>
      <p><%= link_to "Add/Edit Instruments", open_mic_instruments_path(@open_mic) %></p>
    <% end %>
    <% if @open_mic.instruments != [] %>
    <p>Instruments available for use: </p>
    <% @open_mic.instruments.each do |inst| %>
    <p><%= link_to inst.name, open_mic_instrument_path(@open_mic, inst) %></p>
    <% end %>
    <% end %>
  </div>
</div>
