<h1><%= @open_mic.name %><br></h1>

<h2>Hosted by: <% @hosts.each do |host| %>
  <%= host %>
<% end %> <h2>
<% if @update != nil %>
<h3>This Week: <%= @update.body %></h3>
<% end %>

<%= @open_mic.genre %><br>

<%= @open_mic.location %><br>

<%= @open_mic.day %><br>

<%= @open_mic.time %><br>

<%= @open_mic.stage_time %><br>

<%= @open_mic.sign_up_protocol %><br>

<%= @open_mic.cover %><br>

<%= @open_mic.drink_or_food_minimum %><br>

<h2>Missed Connections</h2>
<h3><%= link_to "Reach Out:", "/open_mics/#{@open_mic.id}/missed_connections/new" %></h3>
<h2>Lend A Hand</h2>
<h3><%= link_to "Help Me Out This Week:", "/open_mics/#{@open_mic.id}/lend_a_hands/new" %></h3>
