
<h3>This Week: <%= @update.body %></h3>
<%= @open_mic.name %><br>

<%= @open_mic.genre %><br>

<%= @open_mic.location %><br>

<%= @open_mic.day %><br>

<%= @open_mic.time %><br>

<%= @open_mic.stage_time %><br>

<%= @open_mic.sign_up_protocol %><br>

<%= @open_mic.cover %><br>

<%= @open_mic.drink_or_food_minimum %><br>
