<div class="form_box">
  <div class="form_container">
    <h1>Sign In</h1>
    <% flash.each do |type, msg| %>
      <div>
        <%= msg %>
      </div>
    <% end %>
  </div>
</div>
<div class="log_in_container">
  <div class="log_in_box">
    <%= form_tag ({controller: 'sessions', action: 'create', method: 'post'}) do %>
    <div>
    <p id="label">  <%= label_tag :username, "Username: " %></p>
    <p id="input">  <%= text_field_tag :username %></p>
    </div>
    <div>
    <p id="label">  <%= label_tag :password, "Password: "%></p>
    <p id="input">  <%= password_field_tag :password %></p>
    </div>
    <div id="sign_in">
      <%= submit_tag "Sign In" %>
    </div>
    <% end %>
  </div>
</div>
