<div style="margin-left:15%;padding:16px 16px;height:auto;background-color: #3B6075;color:#C1D4AB;box-shadow: 0 0.3em 1em #000;">
  <div style="margin-left: auto;margin-right: auto;width: 60%; text-align: center;">
<%= form_for @user do |f| %>
<div style="display: flex;flex-direction:row;justify-content:center;text-align:center;line-height:15px;">
<p style="flex: 1 0 100px;"><%=f.label :username %></p>
<p style="flex: 1 0 auto;"><%=f.text_field :username %></p>
</div>
<div style="display: flex;flex-direction:row;justify-content:center;text-align:center;line-height:15px;">
<p style="flex: 1 0 100px;"><%=f.label :password %></p>
<p style="flex: 1 0 auto;"><%=f.password_field :password %></p>
</div>
<div style="display: flex;flex-direction:row;justify-content:center;text-align:center;line-height:15px;">
<p style="flex: 1 0 100px;"><%=f.label :password_confirmation %></p>
<p style="flex: 1 0 auto;"><%=f.password_field :password_confirmation %></p>
</div>
<div style="display: flex;flex-direction:row;justify-content:center;text-align:center;line-height:15px;">
<p style="flex: 1 0 100px;"><%=f.label :stage_name, "Stage Name" %></p>
<p style="flex: 1 0 auto;"><%=f.text_field :stage_name %></p>
</div>
<div style="display: flex;flex-direction:row;justify-content:center;text-align:center;line-height:15px;">
<p style="flex: 1 0 100px;"><%=f.label :pic, "Link for profile pic" %></p>
<p style="flex: 1 0 auto;"><%=f.text_field :pic %></p>
</div>
<div style="display: flex;flex-direction:row;justify-content:center;text-align:center;line-height:15px;padding-left: 25px;">
<p style="flex: 1 0 100px;"><%=f.label :bio %></p>
<p style="flex: 1 0 auto;"><%=f.text_area :bio, size: "25x8" %></p>
</div>
<div style="display: flex;flex-direction:row;justify-content:center;text-align:center;line-height:15px;">
<p style="flex: 1 0 100px;"><%=f.label :email %></p>
<p style="flex: 1 0 auto;"><%=f.text_field :email %></p>
</div>
<div style="display: flex;flex-direction:row;justify-content:center;text-align:center;line-height:15px;">
<p style="flex: 1 0 100px;"><%=f.label :email_public, "Would you like your email to be public?" %></p>
<p style="flex: 1 0 auto;"><%=f.check_box :email_public %></p>
</div>
<div style="display: flex;flex-direction:row;justify-content:center;text-align:center;line-height:15px;">
<p style="flex: 1 0 100px;"><%=f.label :facebook_link %></p>
<p style="flex: 1 0 auto;"><%=f.text_field :facebook_link %></p>
</div>
<div style="display: flex;flex-direction:row;justify-content:center;text-align:center;line-height:15px;">
<p style="flex: 1 0 100px;"><%=f.label :instagram_link %></p>
<p style="flex: 1 0 auto;"><%=f.text_field :instagram_link %></p>
</div>
<div style="display: flex;flex-direction:row;justify-content:center;text-align:center;line-height:15px;">
<p style="flex: 1 0 100px;"><%=f.label :youtube_link %></p>
<p style="flex: 1 0 auto;"><%=f.text_field :youtube_link %></p>
</div>
<div style="display: flex;flex-direction:row;justify-content:center;text-align:center;line-height:15px;">
<p style="flex: 1 0 100px;"><%=f.label :bandcamp_link %></p>
<p style="flex: 1 0 auto;"><%=f.text_field :bandcamp_link %></p>
</div>
<div style="display: flex;flex-direction:row;justify-content:center;text-align:center;line-height:15px;">
<p style="flex: 1 0 100px;"><%=f.label :spotify_link %></p>
<p style="flex: 1 0 auto;"><%=f.text_field :spotify_link %></p>
</div>
<div style="display: flex;flex-direction:row;justify-content:center;text-align:center;line-height:15px;">
<p style="flex: 1 0 100px;"><%=f.label :host, "Do you host an open mic?" %></p>
<p style="flex: 1 0 auto;"><%=f.check_box :host %></p>
</div>
<%= f.submit %>
<% end %>
</div>
</div>
