<div class="background">
  <div class="name_box">

<!-- add a link to a default image if user hasn't provided a pic -->
  <div class="img_box" >
  <img src="<%= @user.pic %>" alt="profile pic">
  </div>
  <h1 id="stage_name"><%= @user.stage_name %></h1>
</div>
<div class="about_box">
<h1>About</h1>

<div><%= @user.bio %></div>

<% if @user.host == true && @user.id == @current_user %>
<%= link_to "Make a Mic", new_open_mic_path %>
<% end %>

<%# TOO MUCH LOGIC IN VIEW, ABSTRACT TO AN ARRAY IN THE CONTROLLER %>
<% if @user.email_public == true %>
<div><%= @user.email %></div>
<% end %>
<% if @user.facebook_link != nil %>
<%= @user.facebook_link %><br>
<% end %>
<% if @user.instagram_link != nil %>
<%= @user.instagram_link %><br>
<% end %>
<% if @user.youtube_link != nil %>
<%= @user.youtube_link %><br>
<% end %>
<% if @user.bandcamp_link != nil %>
<%= @user.bandcamp_link %><br>
<% end %>
<% if @user.spotify_link != nil %>
<%= @user.spotify_link %><br>
<% end %>
</div>
</div>
