<div style="margin-left:10%;padding:1px 16px;height:100vh;background-color: #3B6075;color:#C1D4AB;">
<h1><%= @user.stage_name %></h1>
<!-- add a link to a default image if user hasn't provided a pic -->
<%= @user.pic %><br>

<%= @user.bio %><br>

<% if @user.host == true %>
<%= link_to "Make a Mic", new_open_mic_path %>
<% end %>

<%# TOO MUCH LOGIC IN VIEW, ABSTRACT TO AN ARRAY IN THE CONTROLLER %>
<% if @user.email_public == true %>
  <%= @user.email %><br>
<% end %>
<% if @user.facebook_link != nil %>
<%= @user.facebook_link %><br>
<% end %>
<% if @user.instagram_link != nil %>
<%= @user.instagram_link %><br>
<% end %>
<% if @user.youtube_link != nil %>
<%= @user.youtube_link %><br>
<% end %>
<% if @user.bandcamp_link != nil %>
<%= @user.bandcamp_link %><br>
<% end %>
<% if @user.spotify_link != nil %>
<%= @user.spotify_link %><br>
<% end %>
</div>
