<div class="background">
  <div class="name_box">
  <div class="img_box" >
  <% if @user.pic == "" %>
  <!-- default image if user hasn't provided a pic -->
  <img src="https://images.megapixl.com/5422/54228269.jpg" alt="profile pic">
  <% else %>
  <img src="<%= @user.pic %>" alt="profile pic">
  <% end %>
  </div>
  <h1 id="stage_name"><%= @user.stage_name %></h1>
</div>
<div class="about_box">
<h1>About</h1>
<div><%= @user.bio %></div>

<% if @user.email_public == true %>
<div>Email: <%= @user.email %></div>
<% end %>
<% if @user.facebook_link != "" %>
<a href="<%= @user.facebook_link %>" ><%= @user.facebook_link %></a><br>
<% end %>
<% if @user.instagram_link != "" %>
<a href="<%= @user.instagram_link %>" ><%= @user.instagram_link %></a><br>
<% end %>
<% if @user.youtube_link != "" %>
<a href="<%= @user.youtube_link %>" ><%= @user.youtube_link %></a><br>
<% end %>
<% if @user.bandcamp_link != "" %>
<a href="<%= @user.bandcamp_link %>" ><%= @user.bandcamp_link %></a><br>
<% end %>
<% if @user.spotify_link != "" %>
<a href="<%= @user.spotify_link %>" ><%= @user.spotify_link %></a><br>
<% end %>
</div>
</div>
