<% if @support.errors.any? %>
<div class="form_box">
  <% @support.errors.full_messages.each do |msg| %>
    <p><%= msg %></p>
  <% end %>
</div>
<% end %>
<div class="form_container">
  <div class="form_box">
  <%= form_with model: [:open_mic, support] do |f| %>
    <div>
    <p class="label"><%= f.label :title %></p>
    <p class="input"><%= f.text_field :title, size: "30" %></p>
    </div>
    <div>
    <p class="label"><%= f.label :body %></p>
    <p class="input"><%= f.text_area :body, size: "25x8" %></p>
    </div>
    <%= f.hidden_field :missed_connection, :value => missed_connection %>
    <%= f.hidden_field :lend_a_hand, :value => lend_a_hand %>
    <p><%= f.submit "Post" %></p>
  <% end %>
  </div>
</div>
