<div class="support_bg">
  <div class="banner_box"> 
    <h1><%= @support.title %></h1>
    <p><%= link_to @support.user.stage_name, user_path(@support.user) %> says: <%= @support.body %></p>
  </div>
  <% if @comment.errors.any? %>
  <div class="banner_box">
      <% @comment.errors.full_messages.each do |msg| %>
        <p><%= msg %></p>
      <% end %>
  </div>
  <% end %>
  <div class="comments_box">
    <div>
      <%# load all existing comments for this support post %>
      <% @support.comments.each do |com| %>
      <div class="comment"><%= link_to com.user.stage_name, user_path(com.user) %>: <%= com.body %></div>
      <% end %>
      <div class="comment">
      <%= form_with model: @comment do |f| %>
      <%= f.text_area :body, placeholder: "say something...", size: "30x10" %><br>
      <%= f.hidden_field :user_id, :value => @support.user_id %>
      <%= f.hidden_field :support_id, :value => @support.id %>
      <%= f.submit %>
      <% end %>
      </div>
    </div>
  </div>
</div>
