<% if @instrument.errors.any? %>
<div class="form_box">
    <div id="error_explanation">
      <h2>
        <%= pluralize(@instrument.errors.count, "error") %>
        prohibited this instrument from being saved:
      </h2>
      <% @instrument.errors.full_messages.each do |msg| %>
        <p><%= msg %></p>
      <% end %>
    </div>
</div>
<% end %>
<div class="form_bg">
  <div class="form_container">
    <%= form_with model: [:open_mic, @instrument] do |f| %>
    <div>
      <p class="label"><%= f.label :name %></p>
      <p class="input"><%= f.text_field :name, size: "30" %></p>
    </div>
    <div>
      <p class="label"><%= f.label :description %></p>
      <p class="input"><%= f.text_area :description, size: "25 x 5" %></p>
    </div>
    <div>
      <p class="label"><%= f.label :status %></p>
      <p class="input"><%= f.text_area :status, placeholder: "any quirks? High D key doesn't work, no sustain pedal, etc.", size: "25 x 5" %></p>
    </div>
    <div id="submit">
    <%= f.submit %>
    </div>
    <% end %>
  </div>
</div>
