<!DOCTYPE html>
<html>
  <head>
    <title>StageTime</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <ul>
      <li><%= link_to "Find a Mic", open_mics_path, class: "active" %></li>
      <% if session[:user_id] != nil %>
      <li><%= link_to "Log Out", signout_path %></li>
        <% if User.find(session[:user_id]).host == true %>
            <li><%= link_to "Host a Mic", new_open_mic_path %></li>
        <% end %>
      <% else %>
      <li><%= link_to "Log In", signin_path %></li>
      <li><%= link_to "Sign Up", new_user_path %></li>
      <% end %>
      </ul>
      <%= yield %>
    </div>
  </body>
</html>
